[submodule "dot-vim/bundle/syntastic"]
	path = dot-vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "dot-vim/bundle/jedi-vim"]
	path = dot-vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "dot-vim/bundle/vim-colors-solarized"]
	path = dot-vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "dot-vim/bundle/vim-python-pep8-indent"]
	path = dot-vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent
[submodule "dot-vim/bundle/braceless.vim"]
	path = dot-vim/bundle/braceless.vim
	url = https://github.com/tweekmonster/braceless.vim
[submodule "dot-vim/bundle/vim-json"]
	path = dot-vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "dot-vim/bundle/TagHighlight"]
	path = dot-vim/bundle/TagHighlight
	url = https://github.com/vim-scripts/TagHighlight
[submodule "dot-vim/bundle/vim-airline"]
	path = dot-vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "dot-vim/bundle/vim-airline-themes"]
	path = dot-vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "dot-vim/bundle/vim-fugitive"]
	path = dot-vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
